:root {
   --border-color: blue;
  }


body, html{
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
}

.nav-bar{

    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.container-score{

    display: flex;
    justify-content: center;
    align-content: center;
    margin:auto;
    padding: auto;
   
}
.title{

    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
}


.card {

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row !important;
    border :none !important;
    margin-top: 30px;
} 

 .card p{
    width: 250px;
    text-align: center;
}


.container-form{
    display: flex;
    justify-content: center;
}

.form-add-score{

    display:table-cell;
    
}

.askQuestion{
 
    text-align: center;
    /* border: 2px solid black;  */ 
}
.list-group-item{
    
    background-color: burlywood !important;
    color:blue !important;
}

.items{

    display: flex;
    justify-content: center;
    margin-right: 40px;
    
}


li{
    width: 250px;
    /* border:2px solid black; */
    list-style-type: none;
    text-align: center;
}

.horizon{
    margin-top: 20px;
    display: inline-block;
}

.btn {

    margin-top: 10px !important;
}
header{
    text-decoration: underline;
    color: rgb(47, 32, 129);
} 
.p-2{
    font-size: 25px;
    font-family: cursive;
    text-decoration: underline;
}  
.border{

    background-color: rgba(51, 90, 173, 0.712);
    height: 50px;
    width: 100px;
    text-align: center;
    margin-top: 10px;
    border-radius: .25rem;
}


.hide {
    display: none;
}





















/* #highIdScore a{

    text-decoration: none;
} */




/* 
.startGame-display{

    display: none;
} */







 /* hr{

    width:33%;
} */

/* #stateOfTheAnswer{

   text-align: center;
   margin-right: 25%;
} */









/* #historyGame{

    margin-bottom: 10px;
    margin-left:50px;
} */



/* #submitBackPage{
    height: 50px;
    width: 50px;
    border-radius: 20%;
    
    
} */

/* #submitClearHistory{
    height: 50px;
    width: 50px;
    border-radius: 20%;
    
} */



 /* #button-btn{
        box-shadow: 0px 10px 14px -7px #3e7327;
        background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
        background-color:#77b55a;
        border-radius:4px;
        border:1px solid #4b8f29;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        font-weight:bold;
        padding:6px 12px;
        text-decoration:none;
        text-shadow:0px 1px 0px #5b8a3c;
        height: 25px;
        width: 25px;
    }
    #button-btn:hover {
        background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
        background-color:#72b352;
    }
    #button-btn:active {
        position:relative;
        top:1px;
    } */

  