body, html{
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
}

nav{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
header{

    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#highIdScore a{

    text-decoration: none;
}

.card {

    display: flex;
    justify-content: center;
    align-content: center;
    
}

.startGame{

    display: flex;
    justify-content: center;
    align-content: center;
}

.startGame-display{

    display: none;
}

#paragraph-head{
    width: 250px;
    text-align: center;
}

#items{

    display: flex;
    justify-content: center;
    margin-right: 40px;
    
}

li{

    width: 250px;
    /* border:2px solid black; */
    list-style-type: none;
    text-align: center;
}

#question{

    display: flex;
    justify-content: center;
    align-content: center;
    margin:0 auto;
    /* border: 2px solid black; */
    margin-left: auto;
    width:250px;
    margin-top: 5px;
}

 /* hr{

    width:33%;
} */

#stateOfTheAnswer{

   text-align: center;
   margin-right: 25%;
}

#form-add-score{

    display:table-cell;
    
}

.container{

    display: none;
    justify-content: center;
    
   
}

.container-display{

    display: flex;
    justify-content: center;
}

.container-score{

    display: none;
   
}

.container-score-display{

    display: flex;
    justify-content: center;
    height: 60vh;
}
#form-save-score{

   
    border:1px solid black;
    padding: auto;
    margin-top: 40px;
}

#register{

    display: table-caption;
    margin-top: 75px;

}
#title{

   margin-top: 15px;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}

#historyGame{

    margin-bottom: 10px;
    margin-left:50px;
}
.btn-submit{

    display: none;
}

.btn-submit-display{

    display: inline-flex;
    justify-content: center;
    align-content: center;
    margin: 0;
}

#submitBackPage{
    height: 50px;
    width: 50px;
    border-radius: 20%;
    
}

#submitClearHistory{
    height: 50px;
    width: 50px;
    border-radius: 20%;
    
}

#horizon{

    margin-top: 20px;
    display: none;
}

 #button-btn{
        box-shadow: 0px 10px 14px -7px #3e7327;
        background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
        background-color:#77b55a;
        border-radius:4px;
        border:1px solid #4b8f29;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        font-weight:bold;
        padding:6px 12px;
        text-decoration:none;
        text-shadow:0px 1px 0px #5b8a3c;
        height: 25px;
        width: 25px;
    }
    #button-btn:hover {
        background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
        background-color:#72b352;
    }
    #button-btn:active {
        position:relative;
        top:1px;
    }